#logo {
    font-family: 'Meie Script', cursive;
}

.nav-wrapper {
    background-color: forestgreen;
}

body {
    background-color: darkgrey;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.collapsible-body {
    background-color: white;
}

#label {
    color: black;
}

.waves-effect.waves-light.btn {
    background-color: forestgreen;
}

.carousel-item.active {
    color: black;
    text-align: center;
}

main {
    flex: 1 0 auto;
  }

.page-footer {
      margin-top:100%;
  }

.pagination {
    margin-left: auto;
    margin-right: auto;
}

h6 {
    text-decoration: underline;
}